<section class="showcase">
  <div>
    <!-- showcase-img-box -->
    <div class="img-box">
      <picture>
        <source
          media="(max-width:800px)"
          srcset="./../../../assets/images/image-web-3-mobile.jpg"
        />
        <img
          src="./../../../assets/images/image-web-3-desktop.jpg"
          alt="image web"
        />
      </picture>
    </div>

    <div class="showcase-content">
      <h1>The Bright Future of Web 3.0?</h1>

      <!-- showcase-content -->
      <div>
        <p>
          We dive into the next evolution of the web that claims to put the
          power of the platforms back into the hands of the people. But is it
          really fulfilling its promise?
        </p>
        <a href="#" class="btn">Read more</a>
      </div>
    </div>
  </div>

  <!-- right col section -->
  <div class="new-section">
    <h1>New</h1>

    <article class="new-content">
      <h2>Hydrogen VS Electric Cars</h2>
      <p>Will hydrogen-fueled cars ever catch up to EVs?</p>
    </article>

    <article class="new-content">
      <h2>The Downsides of AI Artistry</h2>
      <p>
        What are the possible adverse effects of on-demand AI image generation?
      </p>
    </article>

    <article class="new-content">
      <h2>Is VC Funding Drying Up?</h2>
      <p>
        Private funding by VC firms is down 50% YOY. We take a look at what that
        means.
      </p>
    </article>
  </div>
</section>
