<header class="header">
  <div class="logo">
    <a href="index.html" class="logo-link">W.</a>
  </div>
  <nav class="nav" [ngClass]="{ active: isNavOpen }">
    <ul class="nav-list">
      <li class="nav-list-item">
        <a (click)="isNavOpen = false" href="#">Home</a>
      </li>
      <li class="nav-list-item">
        <a (click)="isNavOpen = false" href="#">New</a>
      </li>
      <li class="nav-list-item">
        <a (click)="isNavOpen = false" href="#">Popular</a>
      </li>
      <li class="nav-list-item">
        <a (click)="isNavOpen = false" href="#">Trending</a>
      </li>
      <li class="nav-list-item">
        <a (click)="isNavOpen = false" href="#">Categories</a>
      </li>
    </ul>
  </nav>

  <button class="nav-toggler-btn" (click)="toggleNav()">
    <img [src]="[!isNavOpen ? iconMenu : iconClose]" alt="nav-toggler-btn" />
  </button>
</header>
