<header class="header">
  <div class="logo">
    <a href="index.html" class="logo-link">W.</a>
  </div>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-list-item"><a href="#">Home</a></li>
      <li class="nav-list-item"><a href="#">New</a></li>
      <li class="nav-list-item"><a href="#">Popular</a></li>
      <li class="nav-list-item"><a href="#">Trending</a></li>
      <li class="nav-list-item"><a href="#">Categories</a></li>
    </ul>
  </nav>

  <button class="nav-toggler-btn">
    <img [src]="iconMenu" alt="nav-toggler-btn" />
  </button>
</header>
